*{
    box-sizing: border-box;
    font-family:'DM Sans', sans-serif;
}
body{
    background-image: url('./bg.png');
}
.section{
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
}

/* header */
.header{
    background-color: #161516;
    height: 20%;
    text-align: center;
}

.header-title{
    padding: 20px 0px;
    font-size: 30px;
    color: #EF3D33;
    font-weight: bold;
}
.header-btns button{
    background-color: #EF3D33;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
/* main */
.main{
    height: 70%;
    background-color: rgba(73,71,73,0.3);
    position: relative;
}

/* footer */
.footer{
    height: 10%;
    background-color: #161516;
    color: white;
    text-align: center;
    padding-top: 35px;
}

/* popup */
form{
    position: absolute;
    top: 40%;
    left: 42%;
    padding: 30px;
    color: #161516;
    background-color: #494749;
    width: 400px;
    height: 130px;
    opacity: 1;
}
form label{
    color: #E2D0A6;
    font-size: 12px;
}

form button,form input[type="submit"]{
    border: none;
}
form input[type="submit"]{
    border-radius: 1px;
    background-color: red;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
}


form input[type="text"]{
    width: 100%;
    border:1px solid #3f3f3f;
    background-color: #68686850;
    outline: none;
    color: #fff;
}

form .closeBtn{
    display: block;
    margin-left: auto;
    color: red;
    font-weight: bold;
    background-color: inherit;
}

.hide{
    display: none;
}
.show{
    display: block;
}